.hero {}

.hero__container {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacer-03);
}

.hero__title {
    @include type-style-12;
}

.hero__text {
    @include type-style-07;

    @media (max-width: max-width($break-grid-xs)) {
        br {
            display: none;
        }
    }
}