@use "abstracts" as *;

.hero {}

.hero__container {
	display: flex;
	flex-direction: column;
	row-gap: var(--spacer-03);
}

.hero__title {
	@include type-style-12;
	@include color-emphasis;
}

.hero__text {
	@include type-style-08;
	@include color-default;

	@media (width < $break-grid-xs) {
		br {
			display: none;
		}
	}
}
