.project-card {
    display: flex;
    flex-direction: column;
    row-gap: rem(24px);
    position: relative;

    @media (min-width: $break-grid-md) {
        color: white;
    }

    &.is-transitioning {
        width: var(--width);
        height: var(--height);
        max-height: calc(100svh - var(--site-header-height) - (var(--inset) * 2));
        position: fixed;
        inset-block-start: var(--top);
        inset-inline-start: var(--left);
        z-index: 9999;
        pointer-events: none;
        border-radius: $border-radius-01;
    }
}

.project-card__background {
    position: relative;
    aspect-ratio: 16 / 9;
    background-color: inherit;
    border-radius: $border-radius-01;
}

.project-card__content {
    display: grid;
    align-content: flex-end;

    @media (min-width: $break-grid-md) {
        width: 100%;
        height: 100%;
        position: absolute;
        inset-block-end: 0;
        inset-inline-end: 0;
    }
}

.project-card__content-inner {
    display: grid;
    row-gap: rem(4px);

    @media (min-width: $break-grid-md) {
        padding: rem(32px);
        position: sticky;
        inset-block-end: 0;
    }
}

.project-card__title {
    @include type-style-04;
}

.project-card__text {
    opacity: 0.75;
    @include type-style-09;
    transition: height $transition-cubic-01;

    @media (min-width: $break-grid-md) {
        height: 0;
        overflow: hidden;

        .project-card:hover & {
            height: rem(25px);
        }
    }

}