.project-card {
    display: flex;
    flex-direction: column;
    row-gap: rem(24px);
    position: relative;

    @media (min-width: $break-grid-md) {
        color: white;
    }
}

.project-card__background {
    position: relative;
    overflow: hidden;
    aspect-ratio: 16 / 9;
    border-radius: $border-radius-01;
    background-color: $color-grey;
}

.project-card__media {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    object-fit: cover;
}

.project-card__content {
    display: grid;
    align-content: flex-end;

    @media (min-width: $break-grid-md) {
        width: 100%;
        height: 100%;
        position: absolute;
        inset-block-end: 0;
        inset-inline-end: 0;
    }
}

.project-card__content-inner {
    @media (min-width: $break-grid-md) {
        display: grid;
        padding: rem(32px);
        position: sticky;
        inset-block-end: 0;
    }
}

.project-card__title {
    @include type-style-05;
}

.project-card__link {
    &::before {
        position: absolute;
        inset: 0;
        content: '';
    }
}

.project-card__text {
    opacity: 0.5;
    @include type-style-09;
}