.project-card {
    display: flex;
    flex-direction: column;
    row-gap: rem(24px);
    position: relative;

    @media (min-width: $break-grid-md) {
        color: white;
    }
}

.project-card__background {
    position: relative;
    overflow: hidden;
    aspect-ratio: 16 / 9;
    border-radius: $border-radius-01;
    background-color: $color-grey;
}

.project-card__media {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    object-fit: cover;
}

.project-card__content {
    display: grid;
    align-content: flex-end;

    @media (min-width: $break-grid-md) {
        width: 100%;
        height: 100%;
        position: absolute;
        inset-block-end: 0;
        inset-inline-end: 0;
    }
}

.project-card__content-inner {
    display: grid;
    row-gap: rem(4px);

    @media (min-width: $break-grid-md) {
        padding: rem(32px);
        position: sticky;
        inset-block-end: 0;
    }
}

.project-card__title {
    @include type-style-05;
}

.project-card__text {
    opacity: 0.75;
    @include type-style-09;
    transition: height $transition-cubic-01;

    @media (min-width: $break-grid-md) {
        height: 0;
        overflow: hidden;

        .project-card:hover & {
            height: rem(25px);
        }
    }

}