.video-image-background {
    width: 100%;
    height: 100%;
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    overflow: hidden;
    background-color: $color-grey;
    border-radius: inherit;


}

.video-image-background--overlay {
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: 1;
        background: linear-gradient(225deg,
                rgba(0, 0, 0, 0) 40%,
                rgba(0, 0, 0, 0.6) 85%);
    }
}

.video-image-background__media {
    width: 100%;
    height: 100%;
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    object-fit: cover;
}