---
interface Props {
    currentPage?: string;
}

const { currentPage } = Astro.props;
---

<header class="site-header">
    <div class="site-header__container l-container">
        <a href="/" class="site-header__logo">
            <img src="../assets/logo.svg" alt="STRD Logo" />
        </a>
    </div>
</header>

<style lang="scss">
    @import "./_style.scss";
</style>
