$show-grid: false !default;

@if $show-grid == true {
	:root {
		--offset: #{$l-container-padding-xs};
		--max_width: #{rem(1840px) - ($l-container-padding-xl * 2)};
		--columns: 4;
		--gutter: #{$l-grid-padding-02};
		--color: hsla(355, 76%, 64%, 0.15);
	}
	@media screen and (min-width: $break-grid-md) {
		:root {
			--columns: 12;
		}
	}
	@media screen and (min-width: $break-grid-lg) {
		:root {
			--offset: #{$l-container-padding-lg};
		}
	}
	@media screen and (min-width: $break-grid-2xl) {
		:root {
			--offset: #{$l-container-padding-xl};
			--gutter: #{$l-grid-padding-02};
		}
	}
	/* Helper variables */
	:root {
		--repeating-width: calc(100% / var(--columns));
		--column-width: calc((100% / var(--columns)) - var(--gutter));
		--background-width: calc(100% + var(--gutter));
		--background-columns: repeating-linear-gradient(
			to right,
			var(--color),
			var(--color) var(--column-width),
			transparent var(--column-width),
			transparent var(--repeating-width)
		);
	}
	html {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			z-index: 1000;
			width: calc(100% - (2 * var(--offset)));
			max-width: var(--max_width);
			min-height: 100vh;
			margin-inline-end: auto;
			margin-inline-start: auto;
			background-image: var(--background-columns);
			background-size: var(--background-width) 100%;
			pointer-events: none;
			inset: 0;
		}
	}
}
