.icon {
	display: block;
}

.icon--plus {
	width: rem(18px);
	height: rem(18px);
}

.icon--file {
	height: rem(48px);
	width: rem(36px);
}

.icon--download {
	height: rem(20px);
	width: rem(21px);
}

.icon--notice-circle {
	height: rem(20px);
	width: rem(20px);
}

.icon--angle-right {
	height: rem(9px);
	width: rem(6px);
}

.icon--angle-right_md {
	height: rem(11px);
	width: rem(7px);
}

.icon--cross {
	height: rem(18px);
	width: rem(19px);
}

.icon--angle-down {
	height: rem(8px);
	width: rem(13px);
}

.icon--chevron-down {
	width: rem(16px);
	height: rem(16px);
	fill: currentColor;
}

.icon--chevron-right {
	height: rem(11px);
	width: rem(7px);
}

.icon--phone {
	height: rem(26px);
	width: rem(17px);
	fill: none;
	stroke: currentColor;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
}

.icon--menu {
	display: block;
	position: relative;

	&,
	&::before,
	&::after {
		height: rem(2px);
		width: rem(20px);
		background-color: currentColor;
	}

	&::before,
	&::after {
		content: "";
		display: block;
		position: absolute;
	}

	&::before {
		top: rem(-7px);
	}

	&::after {
		top: rem(7px);
	}
}

.icon--search {
	height: rem(28px);
	width: rem(28px);
	stroke: currentColor;
}

.icon--play {
	width: rem(17px);
	height: rem(20px);
	fill: currentColor;
}

.icon-play-circle {
	display: block;
	position: relative;
	width: rem(70px);
	height: rem(70px);
	border: 2px solid currentColor;
	border-radius: 9999px;
}

.icon-play-circle__icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-inline-start: rem(3px);
}

.icon--arrow-left {
	width: rem(30px);
	height: rem(30px);
}

.icon--arrow-right {
	width: rem(30px);
	height: rem(30px);
}

.icon--quote-open {
	svg {
		width: rem(60px);
		height: rem(49px);

		@media (min-width: $break-grid-md) {
			width: rem(85px);
			height: rem(70px);
		}
	}
}

.icon--quote-close {
	height: rem(78px);
	width: rem(120px);
}

[class*="icon--arrow-up-right"] {
	width: rem(16px);
	height: rem(16px);
}

.icon--arrow-right-sm {
	height: rem(14px);
	width: rem(19px);
	fill: none;
	stroke: currentColor;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
}

.icon--facebook {
	width: rem(10px);
	height: rem(20px);
}

.icon--linkedin {
	height: rem(17px);
	width: rem(17px);
}

.icon--google {
	width: rem(19px);
	height: rem(19px);
}

.icon--google-color {
	svg {
		width: rem(36px);
		height: rem(36px);
	}
}

.icon--instagram {
	width: rem(17px);
	height: rem(17px);
}

.icon--plus,
.icon--minus {
	height: rem(25px);
	width: rem(24px);
	stroke: currentColor;
}

.icon--star {
	width: rem(18px);
	height: rem(18px);
}

.icon--logo-webby {
	height: rem(75px);
}

.icon--logo-awa {
	height: rem(48px);
}

.icon--logo-awwwards {
	height: rem(20px);
}

[class*="icon--brand"] {
	width: rem(68px);
	height: rem(68px);
}

.icon--tech-stack {
	width: rem(24px);
	height: rem(24px);
	fill: currentColor;
}

.icon--square-grid {
	width: rem(20px);
	height: rem(20px);
}

.icon--x {
	width: rem(18px);
	height: rem(16px);
}

.icon--envelope {
	width: rem(24px);
	height: rem(24px);
	fill: none;
}

.icon--filter {
	width: rem(24px);
	height: rem(24px);
}
