@import "../abstracts/variables";
@import "../abstracts/functions";

//---------------------------------------------------------------------------
//	Section - Margin
//---------------------------------------------------------------------------

.l-section {
	margin-block-start: var(--spacer-section);
}

.l-section--margin-top_none {
	margin-block-start: 0;
}

.l-section--margin-top_sm {
	@media (min-width: $break-grid-md) {
		--section-spacer: #{$l-section-spacing-md};
	}
}

//---------------------------------------------------------------------------
//	Section - Padding
//---------------------------------------------------------------------------

.l-section--padding {
	padding-block: var(--section-spacer);
}

.l-section--padding_none {
	padding-block: 0;
}

.l-section--padding-top {
	padding-block-start: var(--section-spacer);
}

.l-section--padding-bottom {
	padding-block-end: var(--section-spacer);
}

//---------------------------------------------------------------------------
//	Section - Background
//---------------------------------------------------------------------------

[data-background],
[class*="l-section--background"] {
	color: var(--color-default);

	+[data-background],
	+[class*="l-section--background"] {
		margin-block-start: 0;
	}
}

.l-section--background_black-01 {
	background-color: $color-black;

	&:has(+ .l-section--background_black-01) {
		padding-block-end: 0;
	}
}

//---------------------------------------------------------------------------
//	Container
//---------------------------------------------------------------------------

.l-container {
	max-width: ($l-container-max-width + ($l-container-padding-xl * 2));
	margin-inline: auto;
	padding-inline: $l-container-padding-xs;

	@media (min-width: $break-grid-lg) {
		padding-inline: $l-container-padding-lg;
	}

	@media (min-width: $break-grid-2xl) {
		padding-inline: $l-container-padding-xl;
	}

	.l-container {
		max-width: 100%;
		padding: 0;
		margin: 0;
	}
}

.l-container--gap {
	display: flex;
	flex-direction: column;
	row-gap: var(--spacer-01);
}

//---------------------------------------------------------------------------
//	Grid
//  Add grid cell modifiers as required
//---------------------------------------------------------------------------

.l-grid {
	--row-gap: var(--spacer-01);
	--column-gap: #{$l-grid-padding-02};

	display: flex;
	flex-wrap: wrap;
	row-gap: var(--row-gap);
	column-gap: var(--column-gap);
}

.l-grid--sm {
	--column-gap: #{$l-grid-padding-01};
}

.l-grid__cell {
	flex-grow: 1;
	flex-shrink: 0;
	width: 100%;
}

.l-grid__cell--padding-right {
	@media (min-width: $break-grid-lg) {
		padding-inline-end: rem(48px);
	}

	@media (min-width: $break-grid-2xl) {
		padding-inline-end: rem(80px);
	}
}

// SM
@media (min-width: $break-grid-sm) {
	.l-grid__cell--50-at-sm {
		width: calc(50% - var(--column-gap) / 2);
		max-width: calc(50% - var(--column-gap) / 2);
	}
}

// MD
@media (min-width: $break-grid-md) {
	.l-grid__cell--33-at-md {
		width: calc(33.33% - var(--column-gap) * 2 / 3);
		max-width: calc(33.33% - var(--column-gap) * 2 / 3);
	}

	.l-grid__cell--50-at-md {
		width: calc(50% - var(--column-gap) / 2);
		max-width: calc(50% - var(--column-gap) / 2);
	}

	.l-grid__cell--66-at-md {
		width: calc(66.66% - var(--column-gap) * 1 / 3);
		max-width: calc(66.66% - var(--column-gap) * 1 / 3);
	}
}

// LG
@media (min-width: $break-grid-lg) {
	.l-grid__cell--25-at-lg {
		width: calc(25% - var(--column-gap) * 3 / 4);
		max-width: calc(25% - var(--column-gap) * 3 / 4);
	}

	.l-grid__cell--33-at-lg {
		width: calc(33.33% - var(--column-gap) * 2 / 3);
		max-width: calc(33.33% - var(--column-gap) * 2 / 3);
	}

	.l-grid__cell--50-at-lg {
		width: calc(50% - var(--column-gap) / 2);
		max-width: calc(50% - var(--column-gap) / 2);
	}

	.l-grid__cell--66-at-lg {
		width: calc(66.66% - var(--column-gap) * 1 / 3);
		max-width: calc(66.66% - var(--column-gap) * 1 / 3);
	}

	.l-grid__cell--100-at-lg {
		width: 100%;
		max-width: 100%;
	}
}

// XL
@media (min-width: $break-grid-xl) {
	.l-grid__cell--25-at-xl {
		width: calc(25% - var(--column-gap) * 3 / 4);
		max-width: calc(25% - var(--column-gap) * 3 / 4);
	}

	.l-grid__cell--33-at-xl {
		width: calc(33.33% - var(--column-gap) * 2 / 3);
		max-width: calc(33.33% - var(--column-gap) * 2 / 3);
	}

	.l-grid__cell--50-at-xl {
		width: calc(50% - var(--column-gap) / 2);
		max-width: calc(50% - var(--column-gap) / 2);
	}

	.l-grid__cell--66-at-xl {
		width: calc(66.66% - var(--column-gap) * 1 / 3);
		max-width: calc(66.66% - var(--column-gap) * 1 / 3);
	}
}

// 2XL
@media (min-width: $break-grid-2xl) {
	.l-grid__cell--16-at-2xl {
		width: calc(16.66% - var(--column-gap) * 5 / 6);
		max-width: calc(16.66% - var(--column-gap) * 5 / 6);
	}

	.l-grid__cell--25-at-2xl {
		width: calc(25% - var(--column-gap) * 3 / 4);
		max-width: calc(25% - var(--column-gap) * 3 / 4);
	}

	.l-grid__cell--33-at-2xl {
		width: calc(33.33% - var(--column-gap) * 2 / 3);
		max-width: calc(33.33% - var(--column-gap) * 2 / 3);
	}

	.l-grid__cell--50-at-2xl {
		width: calc(50% - var(--column-gap) / 2);
		max-width: calc(50% - var(--column-gap) / 2);
	}
}