@import "../abstracts/variables";
@import "../abstracts/functions";

//---------------------------------------------------------------------------
//	Section - Margin
//---------------------------------------------------------------------------

.l-section {
	margin-block-start: var(--spacer-section);
}

.l-section--margin-top_sm {
	--spacer-section: var(--spacer-02);
}

//---------------------------------------------------------------------------
//	Container
//---------------------------------------------------------------------------

.l-container {
	max-width: ($l-container-max-width + ($l-container-padding-xl * 2));
	margin-inline: auto;
	padding-inline: $l-container-padding-xs;

	@media (min-width: $break-grid-lg) {
		padding-inline: $l-container-padding-lg;
	}

	@media (min-width: $break-grid-2xl) {
		padding-inline: $l-container-padding-xl;
	}
}
