.u-visually-hidden {
	@include visually-hidden;
}

.u-responsive-embed {
	display: block;
	position: relative;
	overflow: hidden;
	height: 0;
	padding-block-end: 56.25%; // 16x9

	> * {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		border: 0;
	}
}

.u-clearfix {
	zoom: 1;

	&:before,
	&:after {
		content: "\0020";
		display: block;
		height: 0;
		overflow: hidden;
	}

	&:after {
		clear: both;
	}
}

.u-print-only {
	display: none;

	@media print {
		display: block;
	}
}

.u-overflow-hidden {
	overflow: hidden;
}

[class*="u-inset"] {
	max-width: $l-container-max-width-lg;
}

.u-inset {
	@include inset;

	+ [class*="u-inset"] {
		margin-block-start: 0;
	}
}

.u-inset-inline {
	@include inset-inline;
}

.u-gradient-text {
	@include gradient-text;
}
