.u-visually-hidden {
	@include visually-hidden;
}

.u-overflow-hidden {
	overflow: hidden;
}

[class*="u-inset"] {
	max-width: $l-container-max-width;
}

.u-inset {
	@include inset;

	+[class*="u-inset"] {
		margin-block-start: 0;
	}
}

.u-inset-inline {
	@include inset-inline;

	+.u-inset-inline:not(.u-inset-inline--no-reset) {
		margin-block-start: var(--inset);
	}
}