.u-visually-hidden {
	@include visually-hidden;
}


.u-overflow-hidden {
	overflow: hidden;
}

.u-responsive-embed {
	display: block;
	position: relative;
	overflow: hidden;
	height: 0;
	padding-block-end: 56.25%; // 16x9

	>* {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		border: 0;
	}
}