---
import { getGalleryPhotoAlt, type GalleryPhotoEntry } from "../../lib/gallery";
import BlockGalleryItem from "../blocks/block-gallery-item.astro";

interface Props {
	photos: GalleryPhotoEntry[];
	sectionClass?: string;
}

const { photos, sectionClass = "" } = Astro.props;
---

<section class:list={["gallery-grid", "l-section", sectionClass]}>
	<div class="l-container">
		<div class="gallery-grid__items">
			{
				photos.map((photo, index) => (
					<BlockGalleryItem
						title={photo.data.title}
						alt={getGalleryPhotoAlt(photo)}
						fullImage={photo.data.fullImage}
						index={index}
					/>
				))
			}
		</div>
	</div>
</section>
