---
import BlockLogo from "../blocks/block-logo.astro";
---

<footer class="site-footer">
	<div class="site-footer__sticky-container">
		<div class="site-footer__container l-container">
			<div
				class="site-footer__list-2col list-2col list-2col--no-border-top"
			>
				<div class="list-2col__unit list-2col__unit--title">
					<BlockLogo inverted />
				</div>

				<div class="list-2col__unit list-2col__unit--list">
					<nav class="site-footer__menu">
						<a
							href="mailto:contact@blakezajac.com"
							class="site-footer__link"
						>
							contact@blakezajac.com
						</a>
						<a
							href="https://instagram.com/zajacphoto"
							class="site-footer__link"
							target="_blank"
							rel="noopener noreferrer"
						>
							@zajacphoto
						</a>
					</nav>
				</div>
			</div>

			<div class="site-footer__strip">
				<p class="site-footer__text">
					&copy; {new Date().getFullYear()} Blake Zajac. All rights reserved.
				</p>

				<p class="site-footer__text">32.9283° S, 151.7817° E</p>
			</div>
		</div>
	</div>
</footer>
