---
interface Props {
  inverted?: boolean;
}

const { inverted = false } = Astro.props;
---

<header class:list={["site-header", inverted && "site-header--inverted"]}>
  <div class="site-header__container l-container">
    <a href="/" class="site-header__brand">
      <img
        src={inverted ? "/logo-black.svg" : "/logo-white.svg"}
        alt="Blake Zajac"
        class="site-brand"
      />
    </a>
  </div>
</header>
