@use "sass:math";

@mixin visually-hidden {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	white-space: nowrap;
}

@mixin link-underline($thickness: rem(2px),
	$offset: rem(6px),
	$color: transparent) {
	text-decoration: underline;
	text-decoration-color: $color;
	text-decoration-thickness: $thickness;
	text-underline-offset: $offset;
	transition: text-decoration $transition-cubic-01;
}

@mixin link-underline-hover($color: currentColor) {
	text-decoration-color: $color;
}

@mixin link-underline-animated($reverse: false,
	$background: currentColor) {
	width: fit-content;
	position: relative;

	&::after {
		content: "";
		position: absolute;
		inset-block-end: 0;
		inset-inline-start: 0;
		width: 100%;
		height: rem(1px);
		background: $background;
		transition: transform $transition-elastic-02;
	}

	@if $reverse {
		&::after {
			transform: scaleX(0);
			transform-origin: right;
		}
	}

	@else {
		&::after {
			transform: scaleX(1);
			transform-origin: left;
		}
	}
}

@mixin link-underline-animated-hover($reverse: false) {
	@if $reverse {
		&::after {
			transform: scaleX(1);
			transform-origin: left;
		}
	}

	@else {
		&::after {
			transform: scaleX(0);
			transform-origin: right;
		}
	}
}

@mixin focus($width: rem(2px), $color: currentColor, $offset: rem(4px)) {
	outline: $width solid $color;
	outline-offset: $offset;
}

@mixin inset {
	margin-block-end: var(--inset);
	margin-inline: max(var(--inset), calc((100vw - #{$l-container-max-width}) / 2));
	border-radius: var(--inset-border-radius);

	&:first-child {
		margin-block-start: var(--inset);
	}
}

@mixin inset-inline {
	margin-inline: max(var(--inset), calc((100vw - #{$l-container-max-width}) / 2));
	border-radius: var(--inset-border-radius);
}