@import "functions";

//---------------------------------------------------------------------------
//	Typography
//---------------------------------------------------------------------------

$font-family-01: "neue-haas-grotesk-text", Arial, Helvetica, sans-serif;

$font-size-base: 16px;

//---------------------------------------------------------------------------
//	Colors
//---------------------------------------------------------------------------

$color-black: #000;
$color-black-80: rgba($color-black, 80%);
$color-black-6: rgba($color-black, 6%);

$color-border: $color-black-6;
$color-grey: #999999;

//---------------------------------------------------------------------------
//  Breakpoints
//
//  Global breakpoints used across the site. Use t-shirt sizing for naming.
//  Add larger and smaller sizes with the format 2xs or 2xl.
//---------------------------------------------------------------------------

$break-grid-2xs: em(375px);
$break-grid-xs: em(460px);
$break-grid-sm: em(580px);
$break-grid-md: em(744px);
$break-grid-lg: em(1024px);
$break-grid-xl: em(1280px);
$break-grid-2xl: em(1400px);
$break-grid-3xl: em(1600px);

//---------------------------------------------------------------------------
//	Layout
//---------------------------------------------------------------------------

$l-container-padding-xs: rem(20px);
$l-container-padding-lg: rem(32px);
$l-container-padding-xl: rem(48px);

$l-container-max-width: rem(1920px);

$l-grid-padding-01: rem(10px);
$l-grid-padding-02: rem(20px);

//---------------------------------------------------------------------------
//	Site Header
//---------------------------------------------------------------------------

$site-header-height: rem(90px) !default;


//---------------------------------------------------------------------------
//	Transitions
//---------------------------------------------------------------------------

$transition-default: 0.2s ease-in-out;
$transition-medium: 0.3s ease-in-out;
$transition-slow: 0.4s ease-in-out;

$transition-cubic-bezier: cubic-bezier(0.16, 1, 0.3, 1);
$transition-cubic-01: 1s $transition-cubic-bezier;

//---------------------------------------------------------------------------
//	Border Radius
//---------------------------------------------------------------------------

$border-radius-01: rem(10px);

//---------------------------------------------------------------------------
//	Root Variables
//---------------------------------------------------------------------------

:root {
	--spacer-01: #{rem(32px)};
	--spacer-02: #{rem(48px)};
	--spacer-03: #{rem(64px)};
	--spacer-04: #{rem(128px)};
	--spacer-05: #{rem(160px)};

	--spacer-section: var(--spacer-03);
}

@media (min-width: $break-grid-lg) {
	:root {
		--spacer-section: var(--spacer-04);
	}
}