@import "functions";

//---------------------------------------------------------------------------
//	Typography
//---------------------------------------------------------------------------

$font-family-01: "neue-haas-grotesk-text", Arial, Helvetica, sans-serif;

$font-size-base: 16px;

//---------------------------------------------------------------------------
//	Colors
//---------------------------------------------------------------------------

$color-black: #000;
$color-black-80: rgba($color-black, 80%);
$color-black-6: rgba($color-black, 6%);

$color-border: $color-black-6;
$color-grey: #999999;

//---------------------------------------------------------------------------
//  Breakpoints
//
//  Global breakpoints used across the site. Use t-shirt sizing for naming.
//  Add larger and smaller sizes with the format 2xs or 2xl.
//---------------------------------------------------------------------------

$break-grid-2xs: em(375px);
$break-grid-xs: em(460px);
$break-grid-sm: em(580px);
$break-grid-md: em(744px);
$break-grid-lg: em(1024px);
$break-grid-xl: em(1280px);
$break-grid-2xl: em(1400px);
$break-grid-3xl: em(1600px);
$break-grid-4xl: em(2560px);

//---------------------------------------------------------------------------
//	Layout
//---------------------------------------------------------------------------

$l-container-padding-xs: rem(20px);
$l-container-padding-lg: rem(32px);
$l-container-padding-xl: rem(48px);

$l-container-max-width: rem(1920px);
$l-container-max-width-lg: rem(2560px);

$l-grid-padding-01: rem(10px);
$l-grid-padding-02: rem(20px);

// @todo - these aren't accurate. review tablet/mobile design once they're ready.
$l-section-spacing-sm: rem(80px);
$l-section-spacing-md: rem(140px);
$l-section-spacing-lg: rem(150px);

//---------------------------------------------------------------------------
//	Site Header
//---------------------------------------------------------------------------

$site-header-height: rem(90px) !default;

//---------------------------------------------------------------------------
//	Site Offcanvas
//---------------------------------------------------------------------------

$site-offcanvas-break-disable: em(1100px) !default;
$site-offcanvas-bottom-offset: rem(60px) !default;
$site-offcanvas-control-size: rem(48px) !default;

//---------------------------------------------------------------------------
//	Transitions
//---------------------------------------------------------------------------

$transition-default: 0.2s ease-in-out;
$transition-medium: 0.3s ease-in-out;
$transition-slow: 0.4s ease-in-out;

$transition-cubic-bezier: cubic-bezier(0.16, 1, 0.3, 1);
$transition-cubic-01: 1s $transition-cubic-bezier;
$transition-cubic-02: 1.2s $transition-cubic-bezier;

$transition-elastic-ease-out: linear(0,
		0.5737 7.6%,
		0.8382 11.87%,
		0.9463 14.19%,
		1.0292 16.54%,
		1.0886 18.97%,
		1.1258 21.53%,
		1.137 22.97%,
		1.1424 24.48%,
		1.1423 26.1%,
		1.1366 27.86%,
		1.1165 31.01%,
		1.0507 38.62%,
		1.0219 42.57%,
		0.9995 46.99%,
		0.9872 51.63%,
		0.9842 58.77%,
		1.0011 81.26%,
		1);
$transition-elastic-01: 1s $transition-elastic-ease-out;
$transition-elastic-02: 1.2s $transition-elastic-ease-out;

//---------------------------------------------------------------------------
//	Border Radius
//---------------------------------------------------------------------------

$border-radius-01: rem(10px);
$border-radius-full: rem(9999px);

//---------------------------------------------------------------------------
//	Root Variables
//---------------------------------------------------------------------------

:root {
	--spacer-01: #{rem(32px)};
	--spacer-02: #{rem(48px)};
	--spacer-03: #{rem(64px)};
	--spacer-04: #{rem(128px)};
	--spacer-05: #{rem(160px)};

	--spacer-section: var(--spacer-03);
}

@media (min-width: $break-grid-lg) {
	:root {
		--spacer-section: var(--spacer-04);
	}
}