---
import Layout from "../layouts/Layout.astro";
import { LayoutMediaContent } from "@components";
---

<Layout>
	<LayoutMediaContent
		mediaPosition="right"
		mediaPositionStacked="bottom"
		imageSrc="/404/404.webp"
		imageAlt=""
		imageLoading="eager"
		content="<p class='badge'>404 error</p><h1>We lost this page</h1><p>Sorry, the page you are looking for doesn't exist.</p>"
		primaryAction={{ label: "Back to home", url: "/" }}
		secondaryAction={null}
	/>
</Layout>
