.site-main {
    min-height: calc(100svh - $site-header-height);
    padding-block-end: var(--spacer-section);
}

.site-main:has(.l-section--margin-top_sm:first-child):has(.l-section--margin-top_sm:last-child) {
    padding-block-end: var(--spacer-02);
}