@use "abstracts" as *;

.site-header {
  height: var(--site-header-height);
  position: fixed;
  inset-block-start: 0;
  inset-inline: 0;
  z-index: 1;
}

.site-header--inverted {
  position: static;
  border-block-end: rem(1px) solid $color-border;
}

.site-header__container {
  display: flex;
  align-items: center;
  padding-block: rem(24px);
}

.site-brand {
  width: rem(40px);
}
