---
import Logo from "./Logo.astro";
import Menu from "../content/menu.json";

import OffcanvasTrigger from "./OffcanvasTrigger.astro";

const currentPath = Astro.url.pathname;
---

<header class="site-header">
  <div class="site-header__container l-container">
    <Logo loading="eager" />

    <nav class="site-header__menu">
      {
        Menu.items.map((item) => (
          <a
            href={item.href}
            class={`site-header__link ${
              currentPath === item.href ? "site-header__link--active" : ""
            }`}
          >
            {item.label}
          </a>
        ))
      }
    </nav>

    <OffcanvasTrigger />
  </div>
</header>
