<div class="hero">
    <div class="hero__container l-container">
        <h1 class="hero__title">
            Built to perform. <br />
            Designed to last.
        </h1>

        <p class="hero__text">
            Making strides through WordPress and design.<br />
            Built for businesses and individuals ready to move forward.
        </p>
    </div>
</div>
