---
import ButtonGroup from "./ButtonGroup.astro";

interface Props {
  title?: string;
  description?: string;
  primaryButton?: {
    label: string;
    url: string;
    target?: string | "_self";
  };
  secondaryButton?: {
    label: string;
    url: string;
    target?: string | "_self";
  };
}

const {
  title = "",
  description = "",
  primaryButton,
  secondaryButton,
} = Astro.props;

if (!title && !description) return;
---

<div class="hero l-section">
  <div class="hero__container l-container">
    {title && <h1 set:html={title} class="hero__title" />}
    {description && <p set:html={description} class="hero__text" />}
    <ButtonGroup
      primaryButton={primaryButton}
      secondaryButton={secondaryButton}
    />
  </div>
</div>
