---
interface Props {
    title?: string;
    content?: string;
    imageSrc?: string;
    imageAlt?: string;
}

const { title, content, imageSrc, imageAlt } = Astro.props;
---

<div class="l-section">
    <div class="l-container">
        <div class="list-2col">
            <div class="list-2col__unit list-2col__unit--title">
                {title && <div class="list-title">{title}</div>}
            </div>

            <div class="list-2col__unit list-2col__unit--copy">
                <div set:html={content} class="copy" />
            </div>

            {
                imageSrc && (
                    <div class="list-2col__unit list-2col__unit--image">
                        <img
                            src={imageSrc}
                            alt={imageAlt}
                            class="list-2col__image"
                        />
                    </div>
                )
            }
        </div>
    </div>
</div>
