---
import { Image } from 'astro:assets';

interface Props {
    title?: string;
    content?: string;
    imageSrc?: string;
    imageAlt?: string;
    borderTop?: boolean;
}

const { title, content, imageSrc, imageAlt, borderTop } = Astro.props;
---

<div class="l-section">
    <div class="l-container">
        <div
            class={`list-2col ${!borderTop ? "list-2col--no-border-top" : ""}`}
        >
            <div class="list-2col__unit list-2col__unit--title">
                {title && <div class="list-title">{title}</div>}
            </div>

            <div class="list-2col__unit list-2col__unit--copy">
                <div set:html={content} class="copy" />
            </div>

            {
                imageSrc && (
                    <div class="list-2col__unit list-2col__unit--image">
                        <Image
                            width={280}
                            height={280}
                            src={imageSrc}
                            alt={imageAlt ?? ""}
                            class="list-2col__image"
                            loading="eager"
                        />
                    </div>
                )
            }
        </div>
    </div>
</div>
