---
import { Image } from "astro:assets";

interface Props {
    loading?: "eager" | "lazy";
    inverted?: boolean;
}

const { inverted = false, loading = "lazy" } = Astro.props;
---

<a href="/">
    <Image
        width={32}
        height={40}
        src={inverted ? "/logo-inverted.svg" : "/logo.svg"}
        alt="STRD logo"
        class="site-brand"
        loading={loading}
    />
</a>
