<button
  type="button"
  class="site-offcanvas-trigger js-site-offcanvas-trigger"
  aria-expanded="false"
  aria-controls="site-offcanvas"
>
  <span class="site-offcanvas-trigger__icon" aria-hidden="true"></span>
  <span class="u-visually-hidden">Menu</span>
</button>
