---
import { Image } from "astro:assets";

interface Props {
    className?: string;
}

const { className } = Astro.props;
---

<div class={`project-card ${className ?? ""}`}>
    <div class="project-card__media">
        <Image
            width="800"
            height="1000"
            src="https://placehold.co/800x1000"
            alt=""
            class="project-card__image"
        />
    </div>

    <div class="project-card__content">
        <div class="project-card__title">
            <a href="#" class="project-card__link">Project title</a>
        </div>

        <div class="project-card__text">Project description</div>
    </div>
</div>
