---
import { Image } from "astro:assets";

interface Props {
    className?: string;
    title: string;
    description?: string;
    slug: string;
}

const { className, title, description, slug } = Astro.props;
const isComingSoon = description === "Coming soon";
---

<div class={`project-card ${className ?? ""}`}>
    <div class="project-card__media">
        <Image
            width="800"
            height="1000"
            src="https://placehold.co/800x1000"
            alt=""
            class="project-card__image"
        />
    </div>

    <div class="project-card__content">
        <div class="project-card__title">
            {
                isComingSoon ? (
                    <span class="project-card__link">{title}</span>
                ) : (
                    <a href={`/work/${slug}`} class="project-card__link">
                        {title}
                    </a>
                )
            }
        </div>

        {description && <div class="project-card__text">{description}</div>}
    </div>
</div>
