---
interface Props {
  items: Array<{ title: string; description: string }>;
}

const { items } = Astro.props;
---

<ul class="service-list">
  {
    items.map(({ title, description }) => (
      <li class="service-list__item">
        <h3 class="service-list__title">{title}</h3>
        <p class="copy">{description}</p>
      </li>
    ))
  }
</ul>
